

.page-wrapper {
    padding: 2rem;
    position: relative;
    min-height: 100vh;
}

.post-editor {
    background: #fff;
    max-width: 120rem;
    margin: 2rem auto;
    border-radius: 1rem;
    padding: 2rem 2rem 6rem 2rem;

}

.editor-container {
    display: flex;
}

.post-entry {
    flex: 1;
    margin-right: 1rem;
    display: block;
}

.markdown-preview-section {
    flex: 1;
    margin-left: 1rem;
}

.post-input {
    display: block;
    font-family: monospace;
    width: 100%;
}

.page-header {
    text-align: center;

}
